# UNIT 1 Python basics 
  
  Python fundamental variables
  
  python coding

In [1]:
print("hello satish")

hello satish

In [4]:
var1 = "python"
a = 34
b = 99
var1
a
b

sum = a+b
sum

133

In [11]:
var1 = 75
var2 = 5
var3 = var1 + var2
var3

var4 = var1 - var2
var4

70

In [12]:
var4 = var1 - var2
var4

70

In [13]:
var5 = var1 * var2
var5

375

In [14]:
var6 = var1 / var2
var6

15.0

In [18]:
count = 100
km = 1000
name = "adi"
a,b,c = 40,50,"ntc"
print("My Name is adi")
print(count,km,name,sep= ',')
print(a,b,c,sep =',')

My Name is adi
100,1000,adi
40,50,ntc

In [19]:
a=b=c=1
a
b
c
print(a,b,c)

1 1 1

In [20]:
x,y,z = 13,14,15
z

15

In [24]:
del z

In [25]:
z

NameError: name 'z' is not defined

# Data type
numerical data type
int
float
complex

In [27]:
a=67
b=99.99
c=3.14j
d= "ntc"
e= True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [28]:
##how to take input from user
#ask the user to enter the value of x and store it in vaeiable
x = int(input("enter the value of x: "))
#ask the user to enter the value of y and store it in vaeiable
y = int(input("enter the value of y: "))

#perform any mathematical operation on user input

z =x*y

#print the answer

z

enter the value of x: 40
enter the value of y: 20

800

In [31]:
str1 = 'i like python '
str1

'i like python '

# # String

In [32]:
str2 = "number one"
str2

'number one'

In [33]:
str3 = str1 + str2
str3

'i like python number one'

# #string indexing and slicing

In [34]:
#string indexing and slicing

name = "univercity"
print(name)
print(len(name))

univercity
10

In [37]:
name[-10]

'u'

In [39]:
name = "univercity approved by ugc"
print(name)
print(len(name))

univercity approved by ugc
26

In [40]:
name[10]

' '

In [41]:
name = "my name isa aditya patel i m from baroda and i like it python"
print(name)
print(len(name))

my name isa aditya patel i m from baroda and i like it python
61

In [42]:
name[-52]

's'

In [43]:
name[3]

'n'

In [46]:
name[25]

'i'

In [47]:
name[40]

' '

In [48]:
name[-41]

'a'

In [49]:
name[13]

'd'

In [51]:
name[-13]

'i'

In [52]:
name[7]

' '

In [54]:
name[-57]

'a'

In [55]:
name[44]

' '

In [56]:
name[-26]

'a'

In [3]:
a= 55
id(a)

1472706473008

In [1]:
b = 10
id(b)

2591992998480

In [5]:
c= "satish"
id(c)

1472794270576

In [6]:
a=b=c=10
id(a)
id(b)
id(c)

1472706472528

In [7]:
x= 100
id(x)

1472706663888

In [8]:
y = 100
id(y)

1472706663888

In [9]:
a=100
id(a)

1472706663888

In [10]:
a=99
id(a)

1472706663856

In [13]:
a=20
id("a,x")

1472822560432

In [16]:
a=20
b =20
c=20
id("a,b,c")

1472823072112

In [17]:
str1 = "satish"
str1

'satish'

In [20]:
#str2='is a my best friend'
#str2

'is a my best friend'

In [22]:
#str3 = str1 + str2
#print(str3)

satishis a my best friend

SyntaxError: invalid syntax (4119136033.py, line 2)

In [3]:
a= "neotech"
a[-1]

'h'

In [4]:
a= "neotech institute of technology"
a[:5]

'neote'

In [5]:
a= "neotech"
print(len(a))

7

In [6]:
a[0:]

'neotech'

In [39]:
a[-31]

'n'

In [44]:
a[-5:-1]

'olog'

In [47]:
a= "neotech institute of technology"
a[30]

'y'

In [48]:
a[0:-31]

''

In [52]:
a[-27:-5]

'ech institute of techn'

In [56]:
# escape sequences

print("\\")

\

# # positional order

In [1]:
# positional order
string1 = "{1} {0} {2}" ,"format('Aitya','parel','sfhs')"
print("\nprint string in positional order : ")
print(string1)

print string in positional order :
('{1} {0} {2}', "format('Aitya','parel','sfhs')")

In [70]:
my_list=[1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [71]:
type(my_list)

list

In [72]:
type(my_list[0])

int

In [80]:
x=[1,2,3,4,5,"hello","aditya"]
x

[1, 2, 3, 4, 5, 'hello', 'aditya']

In [81]:
x

[1, 2, 3, 4, 5, 'hello', 'aditya']

In [82]:
x[3]

4

In [83]:
x[-1]

'aditya'

In [85]:
x[1:3]

[2, 3]

In [87]:
x[1:-1]

[2, 3, 4, 5, 'hello']

In [88]:
x[-5:-3]

[3, 4]

In [89]:
x[4]

5

In [91]:
x[4] = "hi"

In [92]:
x[4]

'hi'

In [93]:
x

[1, 2, 3, 4, 'hi', 'hello', 'aditya']

In [ ]:
x = input("enter first value")
y = input("enter second value")

In [98]:
x= int(x)
y= int(y)
x*y

300

In [99]:
x = input("enter first value")
y = input("enter second value")

enter first value15.5
enter second value10

In [101]:
x= float(x)
y= int(y)
x+y

25.5

# # Tuples of python

In [108]:
a=(1,2,3,4,5)
b=(6,7,8,9,10)

In [109]:
type(b)

tuple

In [110]:
a+b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
a*b

TypeError: unhashable type: 'set'

# # python dictionary

In [115]:
empl = {}

In [116]:
type(empl)

dict

In [119]:
empl["name"]="satish"
empl["age"]=65
empl["gender"]="m"

In [120]:
empl

{'name': 'satish', 'age': 65, 'gender': 'm'}

In [121]:
empl["name"]

'satish'

In [122]:
empl["age"]

65

In [125]:
empl["gender"]

'm'

In [ ]:
empl

# #Types of loops

count = 0
while ( count < 9):
    print('the count is :', count)
    count= count + 1
    print ("good bye!")

In [27]:
count =30
while ( count < 100):
    print('the count is :', count)
    count= count + 30
    print ("aditya")

the count is : 30
aditya
the count is : 60
aditya
the count is : 90
aditya

## Types loops

In [29]:
count = 0
while count < 5:
    print(count, "is less than 5")
    count = count + 1
else:
    print(count,"is not less than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

In [34]:
count = 0
while count < 30:
    print(count, "is less than 30")
    count = count + 3
else:
    print(count,"is not less than 30")

0 is less than 30
3 is less than 30
6 is less than 30
9 is less than 30
12 is less than 30
15 is less than 30
18 is less than 30
21 is less than 30
24 is less than 30
27 is less than 30
30 is not less than 30

# # For Loops

In [35]:
for letter in 'python':    
    print ('current letter :', letter)

current letter : p
current letter : y
current letter : t
current letter : h
current letter : o
current letter : n

In [37]:
names = ['adi', 'aniket','satish']
for name in names:
     print ('current name :', name)

current name : adi
current name : aniket
current name : satish

In [45]:
for adi in range(10):
    print(adi)

0
1
2
3
4
5
6
7
8
9

In [51]:
for num in range(10,20):
    for i in range(2,num):
        if num%i == 0:
            j=num/i
            print('%d equals %d * %d' % (num,i,j))
        break
    else:
        print(num, 'is a prime number')
        break

10 equals 2 * 5
12 equals 2 * 6
14 equals 2 * 7
16 equals 2 * 8
18 equals 2 * 9

In [64]:
for num in range(10,20):
    for i in range(3,num):
        if num%i == 1:
            j=num/i
            print('%d equals %d * %d' % (num,i,j))
        break
    else:
        print(num, 'is a prime number')
        break

10 equals 3 * 3
13 equals 3 * 4
16 equals 3 * 5
19 equals 3 * 6

In [ ]:
for num in range

In [65]:
for num in range(10,20):
    for i in range(2,num):
        if num%i == 0:
            j=num/i
            print('%d equals %d * %d' % (num,i,j))
            break
        else:
            print(num, 'is a prime number')
            break

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 is a prime number
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [80]:
from math import pi
pi

3.141592653589793

In [81]:
pi

3.141592653589793

In [82]:
pi

3.141592653589793

In [83]:
pi*r

31.41592653589793

In [87]:
r = 10
a = pi*r*r
a

314.1592653589793

# # conditional statement

In [100]:
#if statement

num =0
if num>=0:
    if num == 0:
        print(num, 'is zero')
    else:
        print(num, 'is a positive number')
else:
    print(num, ' is a negetive number')

0 is zero

# # calculator

In [115]:
#create functoin for each operation

#this functoin add two number 

def add(x,y):
    return x+y

#this functoin sub two number 

def subtract(x,y):
    return x-y

#this functoin multiply two number 

def multiply(x,y):
    return x*y


#this functoin divide two number 

def divide(x,y):
    return x/y 

print("select operation")
print("1. add")
print("2. subtract")
print("3. multiply")
print("4. divide")

choice = input("Enter choice (1/2/3/4):")

num1 = float(input("enter the first number: "))
num2 = int(input("enter the second number: "))

if choice == '1':
    print(num1, '+',num2, add(num1,num2))
elif choice == '2':
    print(num1, '-',num2, sub(num1,num2))
elif choice == '3':
    print(num1, '*',num2, multiply(num1,num2))
elif choice == '4':
    print(num1, '/',num2, divide(num1,num2))
else:
    print("invalide input")

select operation
1. add
2. subtract
3. multiply
4. divide
Enter choice (1/2/3/4):1
enter the first number: 2
enter the second number: 3
2.0 + 3 5.0

In [ ]:
#create functoin for each operation

#this functoin add two number 

def add(x,y):
    return x+y

#this functoin sub two number 

def subtract(x,y):
    return x-y

#this functoin multiply two number 

def multiply(x,y):
    return x*y


#this functoin divide two number 

def divide(x,y):
    return x/y 

print("select operation")
print("1. add")
print("2. subtract")
print("3. multiply")
print("4. divide")

choice = input("Enter choice (1/2/3/4):")

num1 = float(input("enter the first number: "))
num2 = int(input("enter the second number: "))

if choice == '1':
    print(num1, '+',num2, add(num1,num2))
elif choice == '2':
    print(num1, '-',num2, sub(num1,num2))
elif choice == '3':
    print(num1, '*',num2, multiply(num1,num2))
elif choice == '4':
    print(num1, '/',num2, divide(num1,num2))
else:
    print("invalide input")

select operation
1. add
2. subtract
3. multiply
4. divide